<h1>Najlepsze artykuły i autorzy</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus posuere, purus et dapibus tempor, lacus libero porta justo, eu tincidunt purus justo et eros. Nunc scelerisque ullamcorper dui a pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus eget ullamcorper ipsum, a sagittis risus. Pellentesque dictum, massa eu condimentum cursus, magna nibh malesuada nulla, in aliquet dui sapien nec leo. Nunc gravida, nisl eu tristique convallis, erat enim facilisis metus, eu finibus metus lorem non eros. Vestibulum ut tempus massa, sit amet rutrum massa. Maecenas tortor magna, eleifend id sagittis et, tempor consectetur ante. Quisque ac ultrices mauris. Etiam cursus lacinia libero, id condimentum nunc facilisis a. Fusce sed leo non neque fermentum imperdiet sed sed elit.

Mauris tincidunt massa quis purus blandit sagittis non vel odio. Maecenas luctus congue felis, eget euismod nisi ultrices feugiat. Duis elementum lorem felis, eu imperdiet neque egestas at. Suspendisse cursus orci massa, at scelerisque dui interdum eu. Cras elementum viverra pretium. Maecenas at lobortis metus, a elementum orci. Duis tristique, quam at posuere ultrices, velit elit tempor felis, vitae hendrerit lorem mauris et tortor. Morbi commodo lobortis metus, ut vehicula augue faucibus ut. Donec orci neque, viverra nec felis at, placerat blandit lectus. Donec eleifend leo sit amet eros accumsan, ac tincidunt ante maximus. Morbi egestas semper tempus. Suspendisse fermentum odio in massa consequat malesuada.
</p>


<section>
  <h2 id="oferta" class="mx-auto text-center">Co nas wyróżnia</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="contact shadow">
        <h4><i class="fas fa-newspaper"></i><br><br>Najciekawsze artykuły</h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contact shadow">
        <h4><i class="fas fa-users"></i><br><br>Top autorów</h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contact shadow">
        <h4><i class="fas fa-glass-cheers"></i><br><br>Imprezy na żywo</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="contact shadow">
        <h4><i class="fas fa-book"></i><br><br>Możliwość rezerwacji</h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contact shadow">
        <h4><i class="fas fa-user-tie"></i><br><br>Profesjonalizm</h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contact shadow">
        <h4><i class="far fa-gem"></i><br><br>Najwyższa jakość</h4>
      </div>
    </div>
  </div>
           

</section>
